/*Header CSS*/

#m-search{
	margin-left: 100px;
}

.navbar-inverse{
	background-color: #35638F;
}

.navbar-inverse .navbar-nav>.active>a{
	background-color: #A50302;
}

.navbar-inverse .navbar-brand{
	color: #fff;
	font-size: 25px;
}

.navbar-inverse .navbar-brand:hover{
	color: #ddd;
}

.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #ddd;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #A50302;
	color: #fff;
}

.navbar-form .input-group{
	min-width: 300px;
}

/*Body CSS*/

.btn-primary{
	background-color: #A50302;
	border-color: #35638F;
}

.btn-primary:hover{
	background-color: #A50302;
}

#list-group-scrollable{
	height:300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

mark{
	background-color: green;
	color: white;
}

/*Footer CSS*/
.m-pageFooter{
	text-align: center;
	width: 100%;
	height: 35px;
	background-color: #e7e7e7;
	color: #000033;
	line-height: 35px;
	margin-top: 30px;
}

